.product_container {
  cursor: pointer;
  display: grid;
  grid-template-columns: 30% 35% 30%;
  width: 95%;
  font-size: 1.3rem;
  text-align: left;
  padding: 20px;
  margin: -20px 20px 80px 60px;
}
.image_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
}
.product_images {
  height: 330px;
  width: 100%;
  max-width: 350px;
  object-fit: contain;
}
.product_name {
  font-weight: 300;
  padding-top: 20px;
}
.item_container {
  margin: 20px 40px 0 0;
  padding: 20px;
}

.addto_cart {
  position: relative;
  top: 23rem;
  left: 15rem;
  z-index: 200;
  filter: drop-shadow(0px 4px 11px rgba(29, 31, 34, 0.1));
  cursor: pointer;
  opacity: 0;
}

.outof_stock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  color: #8d8f9a;
  margin: 0;
}

.item_container:hover {
  box-shadow: 0 5px 35px rgba(168, 172, 176, 0.19);
}

.item_container:hover .addto_cart {
  opacity: 1;
}
.category_Name {
   font-size: 2.6rem; 
   margin: 1em 0 0 2em;
}
.toast {
  width:200px;
  height:20px;
  height:auto;
  margin: auto;
  background-color:  #35bc7a;
  color: #fff;
  text-align: center;
  border-radius: 7px;
  padding:10px;
  position: fixed;
  z-index: 1;
  left: 0;right:0;
  top: 90px;
  font-size: 17px;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 14px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 14px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 14px -1px rgba(56, 56, 56, 1);
  -webkit-animation: fadein 0.5s,  fadeout 0.5s 1.5s;
  animation: fadein 0.5s,  fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 90px; opacity: 1;}
}



@-webkit-keyframes fadeout {
  from {top: 90px; opacity: 1;} 
  to {top: 20px; opacity: 0;}
}

@keyframes fadeout {
  from {top: 90px; opacity: 1;}
  to {top: 20px; opacity: 0;}
}