.svg{
    font-size: 1.2rem; 
     cursor:pointer;
}
.currency_dropdown  {
    position:absolute;
    list-style-type:none;
    box-shadow: 0 5px 35px rgba(168, 172, 176, 0.19);
    max-height: 30vh;
   
overflow-y: auto;
    cursor: pointer;
    width: 100px;
    background: #fff;
    font-family: Raleway;
}
.currency_switch_container{
margin-top: 10px;
}
.currency_list{
     margin-top: 10px;
     background: #fff;

     width: 100%;
}
.currency_list:hover {
    background: #c6fac0;
}

@media screen and (max-width: 480px) {
.currency_switch_container {
margin-top: 4rem;
margin-left: 8rem;
}
}